---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ops, estamos em construção">
    <div class="w-full h-[100vh] bg-[url('/images/background-img-hero.png')] flex lg:flex-row flex-col items-center justify-center relative bg-cover">
        <img src="/images/3d/moon.png" class="w-96"/>
        <div class="flex items-start justify-start flex-col ">
            <h1 class="bg-gradient-to-b from-white font-bold to-gray-500 text-6xl inline-block text-transparent bg-clip-text">Ops!</h1>
            <h2 class="text-white max-w-96 text-start pt-8">O site ainda está em construção, desculpe pelo transtorno.</h2>
        </div>
    </div>
</Layout>