---
const date = new Date().getFullYear();
---
<footer class="flex flex-col items-start bg-[#07080E] lg:px-64 px-8 lg:py-16 py-8 w-full h-fit">
    <div class="flex items-center justify-center w-fit gap-4">
        <img src="/images/Logo.svg" alt="Atomoon icone">
        <p class="text-white w-fit">{date} Atomoon.</p>
    </div>
    <p class="text-[#9e9faa]">Atomoon é um estúdio de consultoria para o digital, Análise de UX e desenvolvimento que possui mais de 5 anos de mercado e atende clientes de todo o Brasil.</p>
</footer>