---
const date = new Date().getFullYear();
---
<footer class="flex flex-col items-start justify-between bg-[#07080E] px-64 py-16">
    <div class="flex items-center justify-center w-fit">
        <img src="/images/Logo.svg" alt="Atomoon icone">
        <p class="text-white w-fit">{date} Atomoon.</p>
    </div>
    <p class="text-[#2F3249]">Atomoon é um estúdio de consultoria para o digital, Análise de UX e desenvolvimento que possui mais de 5 anos de mercado e atende clientes de todo o Brasil.</p>
</footer>