---
// Button.astro

import { ChevronRight } from 'lucide-astro';

interface Props {
  text: string;
  url: string;
  type: 'primary' | 'secondary';
  icon?: boolean;
}

const { text, url, type, icon } = Astro.props;
---

{type === 'primary' ? (
  <div class="py-[0.12rem] w-fit h-fit bg-transparent hover:bg-gradient-to-r from-transparent via-[#f9c36734] to-transparent transition-all rounded-2xl group relative text-white">
    <a href={url} class="py-4 px-4 w-full h-fit bg-[#090a115b] group shadow-[inset_0px_-1px_50px_-36px_rgba(249,195,103,1)] rounded-2xl flex items-center justify-center">
      {text} {icon && <ChevronRight color="white"/>}
    </a>
  </div>
) : (
  <a href={url} class="p-4 text-white hover:bg-[#f9c36731] rounded-2xl transition-all flex items-center justify-center gap-4">
    {text} <slot/>
  </a>
)}
